#content {
    background-image: linear-gradient(-90deg, #83ff00, #00d0ff);
    border: 5px solid black;
    border-radius: 16px;
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 1px;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}


nav ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
	list-style-type: none;
	background-color: #b0ff5e;
	border: 2px solid black;
	border-radius: 5px;
	font-family: sans-serif;
	font-weight: bold;
	padding: 1em;
}

nav ul li {
  display: table-cell;
	border-right: 2px soild #111111;
	padding-right: 8px;
}

nav ul li a {
  text-decoration: none;
  color: gray;
}

ul {
  position: fixed;
  top: 0;
}

h1 {
  color: yellow;
  text-shadow: 2px 2px 5px black;
}

h2 {
  color: #010c66;
  text-shadow: 2px 2px 5px white;
}

body {
    background-image: url("BG.jpg");
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #d8ffa3;
}
